$prefix: "ribbon";
:root {
  --active-text-color: #4093ff;
  --active-bg-color: #ffffff;
  --bg-color: #f5f5f5;
  --text-color: #333333;
  --border-color: #dcdcdc;
}

.#{$prefix}-menu {
  background: #fff;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;

  .#{$prefix}-header {
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .#{$prefix}-header-wrap {
      overflow: hidden;
      margin-bottom: -1px;
      position: relative;
      display: flex;
      flex: 1 auto;

      .#{$prefix}-tab-item {
        padding: 3px 20px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        list-style: none;
        border: 1px solid transparent;
        display: flex;
        cursor: default;

        &-active {
          background-color: var(--active-bg-color);
          border-bottom: 1px solid var(--active-bg-color);
          border-left-color: var(--border-color);
          border-right-color: var(--border-color);
          color: var(--active-text-color);
        }

        &:first-child {
          margin-left: -1px;
        }
      }
    }
  }

  .#{$prefix}-content {
    padding: 10px;
    overflow: hidden;
    flex-grow: 1;
  }
}
